In [1]:
#List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
#A dictionary of high schools and the type of school
high_school_types = [{"High School": "Griffen", "Type":"District"},
                    {"High School": "Figuero", "Type":"District"},
                    {"High School": "Wilson", "Type":"Charter"},
                    {"High School":"Wright", "Type":"Charter"}]

In [4]:
for school in high_school_types:
    print(school)

{'High School': 'Griffen', 'Type': 'District'}
{'High School': 'Figuero', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [5]:
#Add the Pandas dependency
import pandas as pd

In [6]:
#Create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [7]:
for school in school_series:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [8]:
#A dictionary of high schools and the type of school w/ index
high_school_dict = [{"School ID": 0, "High School": "Griffen", "Type":"District"},
                    {"School ID": 1, "High School": "Figuero", "Type":"District"},
                    {"School ID": 2, "High School": "Wilson", "Type":"Charter"},
                    {"School ID": 3, "High School":"Wright", "Type":"Charter"}]

In [9]:
school_df = pd.DataFrame(high_school_dict)
school_df

   School ID High School      Type
0          0     Griffen  District
1          1     Figuero  District
2          2      Wilson   Charter
3          3      Wright   Charter

In [10]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [11]:
#initialize a new df
schools_df = pd.DataFrame()

In [12]:
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [14]:
# Files to load
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [16]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [17]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84